<VirtualHost *:{{ item.port | default ('80') }}>
	DocumentRoot "{{ item.path }}/public"
	ServerName {{ item.vhost }}
    ServerAlias www.{{ item.vhost }}
	DirectoryIndex index.php index.html
    #Redirect / https://{{ item.vhost }}

	<Directory "{{ item.path }}/public">
	    Options Indexes FollowSymLinks
    	AllowOverride All
    	Require all granted
	</Directory>

    <FilesMatch "\.php$">
        SetHandler "proxy:fcgi://127.0.0.1:9000/"
    </FilesMatch>

    ErrorLog "${APACHE_LOG_DIR}/{{ item.vhost }}-error.log"
    CustomLog "${APACHE_LOG_DIR}/{{ item.vhost }}-access.log" vhost_combined
</VirtualHost>

<IfModule mod_ssl.c>
	<VirtualHost *:{{ item.httpsport | default ('443') }}>
		ServerAdmin samsul@dot-indonesia.com

		DocumentRoot "{{ item.path }}/public"
		ServerName {{ item.vhost }}
	    ServerAlias www.{{ item.vhost }}
		DirectoryIndex index.php index.html

		<Directory />
			Options FollowSymLinks
			AllowOverride None
		</Directory>

		<Directory "{{ item.path }}/public">
			Options -Indexes +FollowSymlinks +MultiViews
			AllowOverride All
		</Directory>

	    <FilesMatch "\.php$">
	        SetHandler "proxy:fcgi://127.0.0.1:9000/"
	    </FilesMatch>

		#LogLevel info ssl:warn

		ErrorLog ${APACHE_LOG_DIR}/{{ item.vhost }}-error.log
		CustomLog ${APACHE_LOG_DIR}/{{ item.vhost }}-access.log vhost_combined
		#SSLEngine on

		#SSLCertificateFile	/etc/ssl/certs/ssl-cert-snakeoil.pem
		#SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key

		#SSLProtocol TLSv1.2
		#SSLCompression off
		#SSLProtocol All -SSLv2 -SSLv3
		#SSLHonorCipherOrder on
		#SSLCipherSUite "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH EDH+aRSA !CAMELLIA !SEED !3DES !RC4 !aNULL !eNULL !LOW !MD5 !EXP !PSK !SRP !DSS"
		#SSLOpenSSLConfCmd Curves secp384r1
		#SSLOpenSSLConfCmd DHParameters "/etc/ssl/certs/dhparam.pem"

		#SSLUseStapling          on
		#SSLStaplingResponderTimeout 5
		#SSLStaplingReturnResponderErrors off
		#SSLStaplingCache        shmcb:/var/run/ocsp(128000)
		#SSLCertificateChainFile /etc/apache2/ssl.crt/server-ca.crt

		#SSLCACertificatePath /etc/ssl/certs/
		#SSLCACertificateFile /etc/apache2/ssl.crt/ca-bundle.crt

		#SSLVerifyClient require
		#SSLVerifyDepth  10

		#SSLOptions +FakeBasicAuth +ExportCertData +StrictRequire
		<FilesMatch "\.(cgi|shtml|phtml|php)$">
				SSLOptions +StdEnvVars
		</FilesMatch>

		# add security header
		Header set Strict-Transport-Security: "max-age=63072000; includeSubdomains; preload;"
		Header set X-Frame-Options: "SAMEORIGIN"
		Header set X-Content-Type-Options: "nosniff"
		Header set X-XSS-Protection: "1; mode=block"
		Header set Referrer-Policy: "origin"
	</VirtualHost>
</IfModule>
